build/bin
node_modules
frontend/dist
docs/build
docs/.docusaurus
build/windows/installer/tmp

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Playwright Test Outputs
frontend/test-results/
frontend/playwright-report/
frontend/blob-report/